.bx-breadcrumb {
  display: block;
  margin: 10px 0 10px 0;
}

.bx-breadcrumb-item {
  min-height: 22px;
  height: auto;
  white-space: nowrap;
  display: inline;
}

.bx-breadcrumb-item-angle {
  margin: 0 10px;
  color: #b5bdc2;
  vertical-align: top;
  font-size: 12px;
}

.bx-breadcrumb-item-link {
  border-bottom: none;
  vertical-align: top;
  line-height: 21px;
}

.bx-breadcrumb-item-link:hover{
  text-decoration: none;
}

.bx-breadcrumb-item-text {
  vertical-align: top;
  white-space: normal;
  transition: 250ms linear all;
}
.bx-breadcrumb-item-text {
  color:$light-blue;
  text-decoration: none;
}

.bx-breadcrumb-item-link {
  text-decoration: underline;
  color:$black;
}

.bx-breadcrumb-item-link .bx-breadcrumb-item-text {
  color:$black;
}
