.page-body {
  @include fonts('Arial Narrow, Arial, sans-serif', normal, normal, 14px, 1.2, $black);
  font-family: "Arial Narrow", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: $black;
  @media (min-width: $mobile-max-width) {
    font-size: 16px;
  }
  font-stretch: condensed;
  height:100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
