<h3>Команда</h3>
<p>
  Сергей Лыков - директор, за которым опыт, репутация, традиции, скорость и отряд крутых бойцов
</p>
<p>
  Рита Воронова – руководитель отдела продаж, тот случай, когда непонятно чего больше – ума или душевности. Но результат важен всегда.
</p>
<p>
  Алексей Колесников – менеджер. Четкий, ответственный, динамичный, всегда находит выход из ситуации и аргумент «за».
</p>
<p>
  Дмитрий Черный – менеджер. Внимательный, аккуратный, доказательный. Умножает плюсы.
</p>
<p>
  Светлана Серикова – руководитель отдела снабжения и логистики. Знает как и где найти все. И вовремя доставить.
</p>
<p>
  Борт 1 – Юра. Не умеет опаздывать.
</p>
<p>
  Борт 2 – Саша. Ускоритель 80 уровня
</p>
<div class="about_team">
  <div class="owl-carousel">
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4165-copy_pp.jpg" src="/upload/medialibrary/6b6/a472gqnnfx1e5jo36kmvhqghm9xtetn0.jpg" title="Лыков Сергей Викторович">
    </div>
    <div class="about_team__name">
      Лыков Сергей Викторович
    </div>
    <div class="about_team__post">
      Основатель
    </div>
    <div class="about_team__phone">
      тел.+7(960)129-71-91
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4174-copy_pp.jpg" src="/upload/medialibrary/eb8/tk5xcjbpbwe1ykdx9g1g261k89wrnxl1.jpg" title="Воронова Маргарита Юрьевна">
    </div>
    <div class="about_team__name">
      Воронова Маргарита Юрьевна
    </div>
    <div class="about_team__post">
      Руководитель отдела продаж
    </div>
    <div class="about_team__phone">
      тел.+7(920)443-56-44
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4154-copy_pp.jpg" src="/upload/medialibrary/3fe/3xaqm0j4429w2qlidio75laplkhhxon3.jpg" title="Гунькина Дарина Владимировна">
    </div>
    <div class="about_team__name">
      Гунькина Дарина Владимировна
    </div>
    <div class="about_team__post">
      Менеджер отдела закупок
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4140-copy_pp.jpg" src="/upload/medialibrary/d2e/wzniopqbzadx07r7uwyounn316iox6vq.jpg" title="Серикова Светлана Васильевна">
    </div>
    <div class="about_team__name">
      Серикова Светлана Васильевна
    </div>
    <div class="about_team__post">
      Руководитель отдела снабжения и логистики
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4133-copy_pp.jpg" src="/upload/medialibrary/dc4/tf69jc170o7h591u5t4kagil42kgv689.jpg" title="Колядина Надежда Владимировна ">
    </div>
    <div class="about_team__name">
      Колядина Надежда Владимировна
    </div>
    <div class="about_team__post">
      Менеджер отдела закупок
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4120-copy_pp.jpg" src="/upload/medialibrary/eaa/atvt43aer7453r3ckabl3nt65u2f15fh.jpg" title="Китаева Светлана Владимировна ">
    </div>
    <div class="about_team__name">
      Китаева Светлана Владимировна
    </div>
    <div class="about_team__post">
      Бухгалтер
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4102-copy_pp.jpg" src="/upload/medialibrary/7c8/wfi81df3hw5130va5ywcctsdx9h0hw75.jpg" title="Чёрный Дмитрий Олегович">
    </div>
    <div class="about_team__name">
      Чёрный Дмитрий Олегович
    </div>
    <div class="about_team__post">
      Менеджер отдела продаж
    </div>
    <div class="about_team__phone">
      тел.+7(915)589-84-24
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4100-copy_pp.jpg" src="/upload/medialibrary/bcf/mo58a84a0av01t0dkncse7i5e03yd60q.jpg" title="Колесников Алексей Юрьевич">
    </div>
    <div class="about_team__name">
      Колесников Алексей Юрьевич
    </div>
    <div class="about_team__post">
      Менеджер отдела продаж
    </div>
    <div class="about_team__phone">
      тел.+7(915)544-71-41
    </div>
    <!-- /.about_team__phone -->
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4082-copy_pp.jpg" src="/upload/medialibrary/b6d/n7wsqv50usdi2wiyj96z1sfo93mljnnk.jpg" title="Росеник Мария Мирославовна">
    </div>
    <div class="about_team__name">
      Росеник Мария Мирославовна
    </div>
    <div class="about_team__post">
      Менеджер отдела продаж
    </div>
    <div class="about_team__phone">
      тел.+7(960)115-51-11
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4063-copy_pp.jpg" src="/upload/medialibrary/dcd/lb4z63wk8fcry4h307fr8slip2qzavmt.jpg" title="Покровский Павел Викторович">
    </div>
    <div class="about_team__name">
      Покровский Павел Викторович
    </div>
    <div class="about_team__post">
      Водитель
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4052-copy_pp.jpg" src="/upload/medialibrary/b63/n1quqwn8th7z9exe8o8n99ow9cftdw4j.jpg" title="Казаринов Александр Юрьевич ">
    </div>
    <div class="about_team__name">
      Казаринов Александр Юрьевич
    </div>
    <div class="about_team__post">
      Водитель
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4045-copy_pp.jpg" src="/upload/medialibrary/a73/sd9pxiyrrky1dblf8v8ium5zkw3l4l27.jpg" title="Казаринов Юрий Валерьевич">
    </div>
    <div class="about_team__name">
      Казаринов Юрий Валерьевич
    </div>
    <div class="about_team__post">
      Водитель
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4036-copy_pp.jpg" src="/upload/medialibrary/adc/upfar8x6o5s6p22xajh43yg2b7x8o2c8.jpg" title="Мартынов Максим Валерьевич">
    </div>
    <div class="about_team__name">
      Мартынов Максим Валерьевич
    </div>
    <div class="about_team__post">
      Кладовщик
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4028-copy_pp.jpg" src="/upload/medialibrary/985/5jste9pjbbu903g48xltnibdl10v5u0o.jpg" title="Иванов Вячеслав Витальевич">
    </div>
    <div class="about_team__name">
      Иванов Вячеслав Витальевич
    </div>
    <div class="about_team__post">
      Кладовщик
    </div>
  </div>
  <div class="about_team__item">
    <div class="about_team__photo">
      <img alt="IMG_4019-copy_pp.jpg" src="/upload/medialibrary/10e/heunvegoqp53b09lubae8umuh3ffgpuu.jpg" title="Бударина Наталья Владимировна">
    </div>
    <div class="about_team__name">
      Бударина Наталья Владимировна
    </div>
    <div class="about_team__post">
      Кладовщик
    </div>
  </div>
</div>
</div>
<!-- /.about_team -->
<!--<h3>История</h3>
<p>Компания «Неодент» появилась в 2007 году для расширения возможностей по взаимодействию сключевыми партнерами,
 оптимизации бизнес-процессов и минимизации финансовых рисков.</p>
<p>Обычный «младший» брат для уже ранее стартовавшего направления. Пришло время взрослеть и
 становиться самостоятельным</p>
<p><strong>Самое интересное</strong></p>
<ul>
 <li>2008 год – успешное начало участия в муниципальных закупках, торгах, аукционах по стоматологическим материалам и оборудованию</li>
 <li>2013 год – мы становимся официальным дилером Ормко, получаем премию как лучший дилер</li>
 <li>года и подтверждаем репутацию надежного поставщика ортодонтических материалов для</li>
 <li>Воронежа, Липецка, Курска, Белгорода, Оскола, Орла</li>
 <li>2015 год – получение фарм лицензии.</li>
 <li>2019 год – лучшие коммерческие показатели успеха</li>
 <li>2020 год – начало большого плавания, выбор команды, проверка на прочность деловых связей, договоренностей, обновление бизнес-процессов</li>
</ul>
<p><strong>Не конец)</strong></p>

<p>Эффективность – лучший критерий оценки работы и причины для сотрудничества в любом
 бизнесе. Точная формулировка задач, тщательный подбор необходимых для решения ресурсов и
 инструментов, а также скорость их использования – основные методы, благодаря которым
 «Неодент» достигает положительных результатов.</p>
<p>И наступит день, когда я скажу, что «год за годом» придерживаясь этих правил, повышая
 эффективность своей деятельности, «Неодент» обрел исключительную ценность для клиентов.<p>
<p>
  «Неодент» в 2021 отмечает 13 лет. Для компании это всегда большой срок, хорошая школа и длинный список побед. И непростого опыта, конечно. А еще это сильный характер команды, победившей в непростом испытании и ощущение «все только начинается». Кажется, это идеальное сочетание для большого старта и новой высоты. Работаем!
</p>
<br>-->

