@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial-narrow.woff2") format("woff2"),
    url("../fonts/arial-narrow.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial-narrow-bold.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

