// colors
$black: #6a6a6a;

// fonts
$fontOswaldRegular: "Oswald Regular", "Arial", sans-serif;
$fontOswaldMedium: "Oswald Medium", "Arial", sans-serif;
$fontArial: "Arial", sans-serif;

// media
$mobile-width: 286px;
$mobile-max-width: 900px;
$desktop-width: 1320px;
